@page
@model Photos.Pages.PhotoAdmin.IndexModel

@{
    ViewData["Title"] = "Index";

    string title = Model.Photos.First().User.FirstName + "'s Photos";
}

<h1>@title</h1>

<p>
    <a asp-page="Create" class="btn btn-secondary">Add New</a>
</p>

<br />

@foreach (var item in Model.Photos) {
    <div class="row row-photoadmin">

        <div class="col-md-3">
            <img src="/uploads/@item.FileName" class="img-fluid" />
        </div>

        <div class="col-md-9">
            <h3>@item.Title</h3>
            <p>
                @item.Description 
                <br />
                @item.Category.Title
            </p>
            <p>
                <a asp-page="./Edit" asp-route-id="@item.PhotoId" class="btn btn-primary">Edit</a>&nbsp;&nbsp;&nbsp;
                <a asp-page="./Delete" asp-route-id="@item.PhotoId" class="btn btn-danger">Delete</a>
            </p>
        </div>

    </div>
}
